.profile{
    width: 71%;
    overflow-y: scroll;
}

.first-profile-section{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    padding-top: 20px;
}

.profile-pic{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img{
    width: 100%;
}

.profile-user-details{
    margin-top: -20px;
    width: 40%;
}

.profile-settings{
    width: 35%;
}

.user-name{
    font-size: 25px;
    font-weight: 500;
}

.profile-friends{
    display: flex;
    margin-top: -20px;
}

.profile-friends p{
    margin-right: 10px;
    font-size: 17px;
}

.profile-about{
    width: 300px;
}

.profile-interests h3{
    font-weight: 600;
}

.profile-interests ul li{
    margin-bottom: 10px;
}

.profile-settings-btn{
    background-color: transparent;
    border: none;
    outline: none;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-settings-btn:hover{
    background-color: rgb(240, 240, 240);
}

.profile-settings-btn span{
    font-size: 28px;
}

.second-profile-section{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    margin-left: 50px;
    height: 50px;
}

.view-btn{
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 10px;
}

.view-btn:first-child{
    margin-left: -150px;
    margin-right: 70px;
}

.view-btn span{
    font-size: 26px;
    margin-right: 5px;
}

.view-btn:hover, .active{
    background-color: #d6d6d6;
}

.third-profile-section{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 50px;
    overflow-y: scroll;
}

.profile-post{
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

video{
    width: 100%;
    border-radius: 10px;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
}

.logout-btn{
    border: none;
    outline: none;
    background-color: transparent;
    color: #FD3434;
    font-size: 16px;
}

.interact-btns button{
    height: 35px;
    width: 100px;
    background-color: #FD3434;
    border: none;
    outline: none;
    border-radius: 7px; 
    font-size: 15px;
    color: white; 
}

.interact-btns button:first-child{
    margin-right: 10px;
}

@media only screen and (max-width:600px){
    .profile{
        width: 100%;
    }
    
    .first-profile-section{
        height: 450px;
        width: 100%;
        display: flex;
        justify-content: start;
        margin-left: 10px;
        padding-top: 20px;
    }
    
    .profile-pic{
        height: 100px;
        width: 100px;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .profile-pic img{
        width: 100%;
    }
    
    .profile-user-details{
        margin-left: 20px;
        margin-top: -20px;
        width: 70%;
    }
    
    .profile-settings{
        display: none;
    }
    
    .user-name{
        font-size: 17px;
        font-weight: 500;
        margin-top: 30px;
    }
    
    .profile-about{
        width: 350px;
        position: relative;
        margin-top: 30px;
        right: 110px;
    }

    .profile-interests{
        position: relative;
        margin-top: 30px;
        right: 110px;
    }
    
    .second-profile-section{
        margin-left: 0px;
    }
    
    .view-btn:first-child{
        margin-left: 0px;
        margin-right: 70px;
    }
    
    .view-btn span{
        font-size: 26px;
        margin-right: 5px;
    }
    
    .view-btn:hover, .active{
        background-color: #d6d6d6;
    }
    
    .third-profile-section{
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 50px;
        overflow-y: visible;
    }
    
    .profile-post{
        width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    video{
        width: 100%;
        border-radius: 10px;
    }
    
    body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .logout-btn{
        border: none;
        outline: none;
        background-color: transparent;
        color: #FD3434;
        font-size: 16px;
    }
}